<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head data-hook="inside_head">
  <%= render :partial => 'spree/shared/head' %>
</head>
<body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
  <%= render :partial => 'spree/shared/header' %>
  <% if controller_name == 'home' %>
  <div class="con_width">
  <% else %>
  <div class="shc_con">
  <% end %>

    <div class="page_current"> 
      <%= breadcrumbs(@taxon) %>
    </div>

    <%= yield %>
  </div>
  <%= render :partial => 'spree/shared/footer' %>
  <%#= render :partial => 'spree/shared/google_analytics' %>
  <script>
  Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
  </script>

<script id="_webengage_script_tag" type="text/javascript">
  // Feedback for www.wineplus.com
  var _weq = _weq || {};
  _weq['webengage.licenseCode'] = '~99198d2c';
  _weq['webengage.widgetVersion'] = "4.0";
  
  (function(d){
    var _we = d.createElement('script');
    _we.type = 'text/javascript';
    _we.async = true;
    _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
    var _sNode = d.getElementById('_webengage_script_tag');
    _sNode.parentNode.insertBefore(_we, _sNode);
  })(document);
</script>

<script id="_webengage_script_tag" type="text/javascript">
  // Feedback for Localhost
  // var _weq = _weq || {};
  // _weq['webengage.licenseCode'] = '~7168087a';
  // _weq['webengage.widgetVersion'] = "4.0";
  
  // (function(d){
  //   var _we = d.createElement('script');
  //   _we.type = 'text/javascript';
  //   _we.async = true;
  //   _we.src = (d.location.protocol == 'https:' ? "https://ssl.widgets.webengage.com" : "http://cdn.widgets.webengage.com") + "/js/widget/webengage-min-v-4.0.js";
  //   var _sNode = d.getElementById('_webengage_script_tag');
  //   _sNode.parentNode.insertBefore(_we, _sNode);
  // })(document);
</script>

</body>
</html>
