<div class="address_outer" data-address='<%= @ship_add_addressess.to_json(only: [:id, :is_current, :firstname, :lastname, :address1, :zipcode, :phone, :city ]) %>' >

  <h2 id="shipping_address">Shipping Address <a class="Edit" href="#">edit</a></h2>
  <% if current = @ship_add_addressess.current.try(:first) %>
  <div class="current_address"> <%= full_address(current) %> </div>
  <% end %>
  <script type="text/template" id="line_address">
      <td>
        <input  name="order[ship_address_attributes][is_current]" type="radio" value= 1>
      </td>
      <td><@= address1 @></td>
      <td><a class="delete" href="#">Delete</a> <a class="edit" href="#methods">Edit</a></td>
  </script>
  <%= form_for @order, :url => update_checkout_path('address'), :html => { :id => "checkout_form_payment" } do |form| %>
    <table>
      <tr>
        <td class="new_address"><%= radio_button_tag 'order[ship_address_attributes][is_current]', 1  %></td>
        <td>New Address</td>
      </tr>
    </table>
    <div class="columns omega eight address_input" data-hook="shipping_fieldset_wrapper" style="display: none">
      <fieldset id="shipping" data-hook>
        <%= form.fields_for :ship_address do |ship_form| %>
          <legend align="center"><%= t(:shipping_address) %></legend>
          <%= render :partial => 'spree/address/form', :locals => {:form => ship_form, :address_type => 'shipping', :address => @order.ship_address} %>
        <% end %>
      </fieldset>
    </div>
    <div class="button">
      <%= submit_tag "Confirm", :id => 'submit' %>
    </div>
  <% end %>
</div>
<!--address_outer end-->

<%= form_for @order, :url => update_checkout_path('shipping'), :html => { :id => "checkout_form_payment" } do |form| %>

  <div class='columns eight omega' data-hook='delivery_fieldset_wrapper' id="shipping_method_wrapper" >
    <legend align="center"><%= t(:shipping_method) %></legend>
    <div id='methods'>
      <p class='field radios'>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id='minstrs' data-hook="">
      <%= form.label :special_instructions, t(:shipping_instructions) %>
      <br>
      <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
    <% end %>
  </div>
<% end %>

<%= form_for @order, :url => update_checkout_path('payment'), :html => { :id => "checkout_form_payment" } do |form| %>

  <div class='omega eight columns'>
    <fieldset id="payment" class="variant-info" "data-hook">
    <legend align="center"><%= t(:payment_information) %></legend>
    <div data-hook="checkout_payment_step">
    <% @order.available_payment_methods.each do |method| %>
      <p>
        <label>
          <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id %>
          <%= t(method.name, :scope => :payment_methods, :default => method.name) %>
        </label>
      </p>
    <% end %>
    <ul id="payment-methods" "data-hook">
    <% @order.available_payment_methods.each do |method| %>
      <li id="payment_method_<%= method.id %>" class="<%= 'last' if method == @order.available_payment_methods.last %>" data-hook>
        <fieldset>
          <%= render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method } %>
        </fieldset>
      </li>
    <% end %>
    </ul>
    <br style="clear:both;">
    <div data-hook="coupon_code_field" data-hook></div>
  </div>
  </fieldset>
  </div>

  <br class="space" />
  <div class="form-buttons" "data-hook"="buttons">
  <%= submit_tag t(:checkout), :class => 'btn one-page-checkout-button', 'data-hook' => 'one_page_checout_button' %>
  <script>
    // disableSaveOnClick();
  </script>
  </div>
<% end %>
