<table>
<thead>
 <tr>
<th>
	<img alt="Logo" height="62" src="http://www.wineplus.me/assets/logo.gif" width="153">
	<br>
	Thanks for your purchase!
<tr>
 </tr>
</thead>

<tbody>
	<% @order.line_items.each do |item| %>
<tr>
<td><%= item.variant.sku %> </td>
<td><%= raw(item.variant.product.name) %></td>
<td>
  <%= item.variant.sku %> <%= raw(item.variant.product.name) %> 
  <%= raw(item.variant.options_text) -%> 
</td>
<td>(<%=item.quantity%>) @ <%= item.single_money %> = <%= item.display_amount %></td>
</tr>
<% end %>
</tbody>
</table>
<p><%= Spree.t('order_mailer.confirm_email.subtotal', :subtotal => @order.display_item_total) %></p>

<p>
<% @order.adjustments.eligible.each do |adjustment| %>
  <%= raw(adjustment.label) %> <%= adjustment.display_amount %>
<% end %>
</p>
<p><%= Spree.t('order_mailer.confirm_email.total', :total => @order.display_total) %></p>

