<% @body_id = 'signup' %>
<div class="shc_top">
  <div class="sht_line"></div>
  <div class="login_con">
    <% if flash[:alert] %>
      <div class="flash errors"><%= flash[:alert] %></div>
    <% end %>

    <% if flash[:notice] %>
      <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>


    <% if flash[:error] %>
      <div class="flash error"><%= flash[:error] %></div>
    <% end %>
    <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>

    <div class="loc_left">
     

      <% @body_id = 'login' %>
      <div id="existing-customer">
        <div class="lol_tiltle">Sign in<%#= Spree.t(:login_as_existing) %></div>
        <div data-hook="login">
          <%= render :partial => 'spree/shared/login' %>
        </div>
      </div>
      <div data-hook="login_extras"></div>
    </div>
    <div class="loc_right">

      <div class="lol_tiltle">Sign up for Wine+<%#= Spree.t(:new_customer) %></div>

      

      <div id="new-customer">

        <div data-hook="signup">

          <%= form_for Spree::User.new, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
            <div data-hook="signup_inside_form">
              <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
              <p><%= f.submit 'Create an account', :class => 'button primary' %></p>
            </div>
          <% end %>
          <%#= Spree.t(:or) %> <%#= link_to Spree.t(:login_as_existing), spree.login_path %>

        </div>

      </div>

      <div data-hook="login_extras"></div>
      
      </div>
    </div>
  </div>

  <div class="rlt_bottom2"></div>