<%#= current_spree_user.email %>
<div class="top">
  <div class="top_link">
    <div class="tl_con">
      <div class="tlc_left"> 
        <span><a href="#">Bar</a></span> 
        <span><a href="#">Education</a></span>
      </div>
      <div class="tlc_right">
        <% if !current_spree_user %>
          <div class="tr_login">
            <%= link_to 'Register', signup_path %>  |
            <%= link_to 'Login', login_path %>  |
          </div>
        <% else %>
          <div class="tr_welcome">
            Welcome,
            <a href="/account"><%= current_spree_user.email %></a>
            <%= link_to 'Logout', logout_path, :class => :logout %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="top_bottom">
    <div class="tb_logo">
      <%= image_tag "logo.gif", :size => '153x62' %>
    </div>
    <div class="tb_right">
      <!--
      <div class="tbr_nl">
        <div class="tnl_input"> <span class="ti_kk">
              <input type="text" class="input1" />
            </span> <span><a href="#">SEND</a></span>
        </div>
        <div class="tnl_text">SIGN UP TO OUR NEWSLETTER</div>
      </div>
    -->

      <%= render :partial => 'spree/shared/search' %>

    </div>
  </div>
</div>
<div class="menu_bg">
  <div class="col960">
    <ul id="navul" class="cl">
      <li class="navhome">
        <a href="/"class="m1">
          <%= image_tag "menu_pic1.gif", :size => '16x14' %>
        </a>
      </li>
      <li><%= link_to 'RED', link_to_taxon('Red'), :class_name => :m2 %> </li>
      <li><%= link_to 'WHITE', link_to_taxon('White'), :class_name => :m3 %> </li>
      <li><%= link_to 'SPARKLING', link_to_taxon('Sparkling'), :class_name => :m4 %> </li>

      <li><%= link_to 'EXPLORE', products_path  %></li>
      <li><a href="/accessories" >ACCESSORIES</a></li>
    </ul>
    <div class="sc_con">
      <div class="scc_left">
        <ul>
          <li id="link-to-cart" data-hook><%= link_to_my_cart %>  </li>
        </ul>
      </div>
    </div>
  </div>
</div>


