<%= form_for Spree::User.new, :as => :spree_user, :url => spree.create_new_session_path do |f| %>
<div id="password-credentials">
  <p>
    <span class="lou_1">
      <%= f.label :email, Spree.t(:email) %> *<br />
    </span>
    <%= f.email_field :email, :class => 'title input7', :tabindex => 1 %>
  </p>
  <p>
    <span class="lou_1">
      <%= f.label :password, Spree.t(:password) %> *<br />
    </span>
    <%= f.password_field :password, :class => 'title input7', :tabindex => 2 %>
  </p>
</div>
<p>
  <label>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, Spree.t(:remember_me) %>
  </label>
</p>

<p>
  <%= f.submit 'Login', :class => 'button primary', :tabindex => 3 %>
  <span class="lor_lost"><%= link_to Spree.t(:forgot_password), spree.recover_password_path %></span> 
</p>
<% end %>
