<div class="banner">
  <div class="callbacks_container">
    <ul class="rslides" id="slider4">
      <li> <%= image_tag 'banner.jpg', :size => '980x335' %></li>
      <li> <%= image_tag 'banner2.jpg', :size => '980x335' %></li>
      <li> <%= image_tag 'banner3.jpg', :size => '980x335' %></li>
    </ul>
  </div>
</div>

<div class="home_con1">
  <div class="hcc_con">
    <div class="red_tilte">
      <span class="big_title">RED WINE</span>
      <span class="more"><%= link_to "MORE >>", link_to_taxon('Red') %></span>
    </div>
    <ul class="red_list">

      <% @reds.each do |product| %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://www.wineplus.me/products">
        <div class="rl_img">
         <%= link_to small_image(product, :itemprop => "image", :size => '170x192'), product, :itemprop => 'url' %>
       </div>
       <div class="rl_name">
        <%= link_to truncate(product.name_with_vintage, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name_with_vintage %>
      </div>
      <div class="rl_bottom">
        <span class="rlb_1"> <%= custom_display_price(product) %></span>
        <!-- <span class="rlb_2">RMB 435.00</span> -->
      </div>
    </li>
    <% end %>
    </ul>
  </div>
  <div class="hcc_bottom"><%= image_tag 'bg_bottom.gif', :size => '982x4' %></div>
</div>


<div class="home_con1">
  <div class="hcc_con">
    <div class="red_tilte">
      <span class="big_title">WHITE WINE</span>
      <span class="more"><%= link_to "MORE >>", link_to_taxon('White') %></span>
    </div>
    <ul class="red_list">

      <% @whites.each do |product| %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="rl_img">
         <%= link_to small_image(product, :itemprop => "image", :size => '170x192'), product, :itemprop => 'url' %>
       </div>
       <div class="rl_name">
        <%= link_to truncate(product.name_with_vintage, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name_with_vintage %>
      </div>
      <div class="rl_bottom">
        <span class="rlb_1"> <%= custom_display_price(product) %></span>
        <!-- <span class="rlb_2">RMB 435.00</span> -->
      </div>
    </li>
    <% end %>
    </ul>
  </div>
  <div class="hcc_bottom"><%= image_tag 'bg_bottom.gif', :size => '982x4' %></div>
</div>

<div class="home_con1">
  <div class="hcc_con">
    <div class="red_tilte">
      <span class="big_title">SPARKLING WINE</span>
      <span class="more"><%= link_to "MORE >>", link_to_taxon('Sparkling') %></span>
    </div>
    <ul class="red_list">

      <% @sparklings.each do |product| %>
      <li id="product_<%= product.id %>" class="columns three <%= cycle("alpha", "secondary", "", "omega secondary", :name => "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <div class="rl_img">
         <%= link_to small_image(product, :itemprop => "image", :size => '170x192'), product, :itemprop => 'url' %>
       </div>
       <div class="rl_name">
        <%= link_to truncate(product.name_with_vintage, :length => 50), product, :class => 'info', :itemprop => "name", :title => product.name_with_vintage %>
      </div>
      <div class="rl_bottom">
        <span class="rlb_1"> <%= custom_display_price(product) %></span>
        <!-- <span class="rlb_2">RMB 435.00</span> -->
      </div>
    </li>
    <% end %>
    </ul>
  </div>
  <div class="hcc_bottom"><%= image_tag 'bg_bottom.gif', :size => '982x4' %></div>
</div>



